// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):




// +font(roboto-black, roboto-black)  
// =black
// 	font-family: "roboto-black", Arial, sans-serif 

+font(museosanscyrl_100, museosanscyrl_100)
+font(museosanscyrl_700, museosanscyrl_700)
+font(museosanscyrl_900, museosanscyrl_900)

=ulight
	font-family: "museosanscyrl_100", Arial, sans-serif
=bold
	font-family: "museosanscyrl_700", Arial, sans-serif 
=ubold
	font-family: "museosanscyrl_900", Arial, sans-serif


a
	text-decoration: none
	&:hover
		text-decoration: none

body
	font-size: 16px 
	line-height: 1.5
	color: $black 
	min-width: 320px
	+ulight
	+r(768)
		font-size: 14px
.container
	max-width: 1280px
	margin: 0 auto
	&_no-pad
		.col-xs-12
			padding: 0
.row
	&_marg
		margin-bottom: 50px 
.wrap
	padding: 80px 0 60px
	+r(992)
		padding: 60px 0 40px
.header
	background: $main-dark
	position: relative
	z-index: 10 
	+r(992)
		text-align: center
	&__logo
		display: inline-block
		margin-top: 18px
		+svg(logo, 105,23)
		
.menu
	+clr
	&__item
		float: left
		position: relative
		text-align: center
		z-index: 1		
		&:hover
			background: $black
			z-index: 2 
			.menu__hover
				display: block
		+r(992)
			float: none
			
	&__item-link
		display: inline-block
		padding: 18px 15px 20px
		+ubold
		text-transform: uppercase
		color: $white
		font-size: 14px
		z-index: 50
		position: relative
		+r(1200)
			padding: 18px 12px 20px
			font-size: 13px
		+r(992)
			display: block
			padding: 14px 0 16px
		&.is-active
			color: $blue
	&__hover
		display: none
		position: absolute
		left: 0
		top: 100%
		+transition(visibility, .2s)
.chan
	+clr
	padding: 35px
	background: $black
	min-width: 350px 
	&__item		
		margin-bottom: 12px
		padding-left: 18px
		width: 50%
		float: left
		text-align: left
		font-size: 12px
	&__link
		display: block
		position: relative
		color: $white
		text-transform: uppercase 
		+transition(color, .2s)
		span
			+ubold
		p
			+ulight
		&:hover
			color: $blue
.icon-ball
	display: block
	position: absolute
	height: 8px
	width: 8px
	border-radius: 50%
	top: 3px
	left: -18px
	background: #FFF
	&.is-salmon
		background: #d62128
	&.is-ultramarin
		background: #0137B1
	&.is-marin
		background: #0B4E8D
	&.is-lime
		background: #91B40A
	&.is-red
		background: #ae1800
	&.is-skyblue
		background: #00ADD4
	&.is-blue
		background: #005F9C 
.btn
	display: inline-block
	text-transform: uppercase
	+bold
	font-size: 14px
	&_feedback
		padding: 7px 33px 6px
		border: 2px solid $grey 
		font-size: 9px
		color: $white
		+transition(border-color, .2s)
		+r(768)
			margin-top: 10px
		&:hover
			border-color: lighten($grey, 15%)		
	&_transparent
		margin-top: 9px
		padding: 6px 30px 5px
		color: $black
		border: 5px solid $blue
		+transition(border-color, .2s)
		&:hover
			border-color: darken($blue, 10%)
	&_subscr
		margin-top: 30px
		padding: 12px 55px 12px 89px
		background: $blue
		border-radius: 2px
		color: $white
		+transition(background, .2s)
		span
			position: relative
			display: inline-block
			&:before
				content: ""
				position: absolute
				top: 0
				left: -34px 
				+svg(mail, 24, 18)
		&:hover
			background: darken($blue, 10%) 
.btn-wrap
	+r(768)
		text-align: center
		
.name
	margin-bottom: 11px
	font-size: 18px
	text-transform: uppercase 
	+ubold
	color: $black
.text
	margin-bottom: 13px
.footer
	padding: 10px 0
	background: $main-dark 
	font-size: 10px
	color: $grey
	text-transform: uppercase
.copyright
	margin-top: 5px
	+r(768)
		text-align: center
	span
		padding-top: 2px
.icon-design
	display: inline-block
	margin-left: 12px
	vertical-align: middle
	+s(design-lab)
	 
.promo-img
	position: relative
	font-size: 0
	// img
	// 	width: 100%
	// 	height: auto
	&:after
		content: ""
		position: absolute
		bottom: 0
		right: -80px
		left: -80px
		height: 1px
		background: #EBEBEB
		+r(1200)
			display: none 
	&_phone
		+r(768)
			float: right
			margin-top: 20px
	&_asymmetry
		+r(992)
			margin-bottom: 20px
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 136px
			right: 65px
.subscribe
	margin-bottom: 60px
	padding: 60px 0
	background: $main-dark
	+clr
	+r(992)
		padding: 60px 20px
	+r(768)
		padding: 40px 20px 
	&__title
		color: $white
		text-transform: uppercase
		+ubold
		font-size: 18px
		+r(992)
			font-size: 16px

.app
	&__item
		margin-top: 30px
		a
			display: block
		&:first-child
			margin-top: 90px
	&__ios
		+svg(ios, 38, 48)
	&__android
		+svg(android, 32, 44)
	&__win
		+svg(win, 44, 42)
.banner
	margin: 20px 0 40px 
	img
		width: 100%
		height: auto
	+r(768)
		margin-bottom: 20px
.article
	+clr
	padding-bottom: 40px 
	h1
		margin-bottom: 32px
		font-size: 48px
		+ubold
		text-transform: uppercase
		+r(768)
			font-size: 40px
			margin-bottom: 20px
	a
		color: $blue
		text-decoration: underline
		&:hover
			text-decoration: none
	p
		margin-bottom: 23px
	strong
		+bold
.link
	color: $blue
	text-decoration: underline
	&:hover
		text-decoration: none
.title
	margin-bottom: 32px
	font-size: 48px
	+ubold
	text-transform: uppercase
	+r(768)
		font-size: 40px
		margin-bottom: 20px
.contacts
	margin-top: 48px
	line-height: 1.4 
	+clr