.slider
	position: relative
	margin: 20px 0 
	&__in
		+r(640)
			position: relative
	&__prev-img,
	&__next-img
		position: absolute
		bottom: 0
		width: 140px
		height: 80px
		pointer-events: none
		overflow: hidden
		+r(992)
			bottom: 80px
			width: 100px
			height: 60px
		+r(640)
			display: none
		img
			height: 100%
			width: auto
	&__prev-img
		left: 0
	&__next-img
		right: 0
.caption
	position: absolute
	bottom: 0
	left: 140px
	right: 140px
	background: rgba($main-dark, .9) 
	+r(992)
		position: static
		background: $main-dark  
		
	li
		display: none
	&__item
		display: table
		width: 100%
		table-layout: fixed
	&__info,
	&__media
		display: table-cell
		vertical-align: middle
		height: 80px
	&__info
		padding: 0 30px 
		color: #fff 
		+r(640)
			padding: 0 20px
			width: 70%
		strong
			display: block
			font-size: 22px
			line-height: 1.2
			font-weight: normal
			+ubold
			text-transform: uppercase
			+r(992)
				font-size: 18px
			+r(640)
				font-size: 16px
		span
			font-size: 13px
			+ulight
			opacity: 0.4
	&__media
		text-align: right
		padding-right: 30px
		img
			vertical-align: middle
			max-width: 100%
.btn-prev,
.btn-next
	position: absolute
	bottom: 0
	top: auto
	width: 140px
	height: 80px
	text-align: center
	background: rgba($blue, .8)
	+tr(background .3s)
	&:hover
		background: rgba($blue, .6)
		+r(640)
			background: none
	&:before
		content: ""
		display: inline-block
		vertical-align: middle
	+r(992)
		bottom: 80px
		width: 100px
		height: 60px
	+r(640)
		bottom: auto
		top: 50%
		margin-top: -17px
		width: 34px
		height: 34px
		background: none
.btn-prev
	left: 0
	+r(640)
		left: 20px
	&:before
		+svg(prev,34,34)
.btn-next
	right: 0
	+r(640)
		right: 20px
	&:before
		+svg(next,34,34)

+keyframes(bar)
	0
		width: 0
	100%
		width: 100%
.bar
	margin-bottom: 10px
	+clr
	+ulight
	&.is-active
		.bar__line
			em
				background: $blue 
		.bar__title
			+ubold
	&__main
		position: relative
		height: 16px
	&__line
		position: absolute
		right: 0
		top: 0
		bottom: 0
		 
		span
			position: absolute
			left: -30px
			top: 0
			bottom: 0
			line-height: 16px
			font-size: 11px
			color: #8d8d8d
		em
			position: absolute
			top: 0
			right: 0
			bottom: 0
			width: 0
			background: #bdcad0
	&__title
		font-size: 14px
	&_marg
		margin-top: 55px
		
.is-visible
	.bar
		&__line
			em
				+animation(bar .4s linear .1s forwards)